<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211744724721-20ht6kop2fn2ijic9n750bgpnlsng257.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211744724721-20ht6kop2fn2ijic9n750bgpnlsng257</string>
	<key>API_KEY</key>
	<string>AIzaSyCjqWUKfP6mlql_xgoHkx-QGLcq3qTMCgU</string>
	<key>GCM_SENDER_ID</key>
	<string>211744724721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etarq</string>
	<key>PROJECT_ID</key>
	<string>faker-andrea</string>
	<key>STORAGE_BUCKET</key>
	<string>faker-andrea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211744724721:ios:87b5f29b2920bcb1e0fb50</string>
</dict>
</plist>